<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Frogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="Frogger.Properties.Settings.highscoresConnectionString"
        connectionString="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xD;&#xA;&lt;SerializableConnectionstring xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xD;&#xA;  &lt;ConnectionString&gt;Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\highscores.accdb&lt;/ConnectionString&gt;&#xD;&#xA;  &lt;ProviderName&gt;System.Data.OleDb&lt;/ProviderName&gt;&#xD;&#xA;&lt;/SerializableConnectionString&gt;"
        providerName="" />
    <add name="Frogger.Properties.Settings.highscoresConnectionString1"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\highscores.mdb;Persist Security Info=True"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Frogger.Properties.Settings>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>True</value>
            </setting>
        </Frogger.Properties.Settings>
    </userSettings>
</configuration>
